body {
	margin: 0;
	padding: 0;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
    color: #f3f3f3;
    background-color: rgb(30, 30, 31);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
	margin: 0;
}

span {
	padding-left: 5px;
}

.container {
	padding: 20px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.information__inner {
	display: flex;
}