.item {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: 100%;
}

.item__content {
    background-color: rgb(37, 37, 41);
    border: 1px solid rgba(255, 255, 255, 0.123);
    border-radius: 8px;
}

.item__name {
    padding: 15px 20px;
    font-size: 18px;
    font-weight: normal;

    border-bottom: 1px solid rgba(255, 255, 255, 0.123);

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        cursor: pointer;
        background-color: rgb(51, 51, 56);
    }

    &--active {
        background-color: rgb(51, 51, 56);
        color: rgb(38, 141, 85);
    }
}